manifest {
    author = 'Stephen Kelly'
    homePage = 'https://github.com/stevekm/nextflow-boilerplate'
    description = 'Boilerplate Nextflow pipeline'
    mainScript = 'main.nf'
}

report {
    enabled = true
    file = "nextflow-report.html"
}

trace {
    enabled = true
    fields = "task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes"
    file = "trace.txt"
    raw = true
}

timeline {
    enabled = true
    file = "timeline-report.html"
}

params.output_dir = "output"
params.ANNOVAR_BUILD_VERSION ="hg19"
params.ANNOVAR_PROTOCOL = "refGene,cosmic70"
params.ANNOVAR_OPERATION ="g,f"
env {
    ANNOVAR_PROTOCOL = params.ANNOVAR_PROTOCOL
    ANNOVAR_OPERATION = params.ANNOVAR_OPERATION
    ANNOVAR_BUILD_VERSION = params.ANNOVAR_BUILD_VERSION
}


profiles {
    local { // for use on local computer
        docker.enabled = true
        process.$normalize_vcf.container = "stevekm/containers:bcftools-1.7"
        process.$filter_vcf.container = "stevekm/containers:GATK-3.8"
        process.$vcf_2_tsv.container = "stevekm/containers:GATK-3.8"
        process.$make_ANNOVAR_db.container = "stevekm/containers:annovar-150617"
        process.$annotate_vcf.container = "stevekm/containers:annovar-150617"
        params.ANNOVAR_DB_DIR = "annovar_db"
        env.ANNOVAR_DB_DIR = params.ANNOVAR_DB_DIR
        params.ref_dir = "ref" // use the symlink in this dir
    }
    phoenix { // for use on NYULMC phoenix HPC cluster
        params.ANNOVAR_DB_DIR = "/ifs/data/molecpathlab/bin/annovar/db/hg19"
        env.ANNOVAR_DB_DIR = params.ANNOVAR_DB_DIR
        params.ref_dir = "/ifs/data/sequence/results/external/NYU/snuderllab/ref"
        // /ifs/data/molecpathlab/bin/annovar
    }
}
